<section class="section section-light-grey is-medium" id="contact">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
        <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
        <div class="divider is-centered"></div>
      </div>
  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <form action="https://formsubmit.co/razvan@genez.io" method="POST">
              <div class="columns is-multiline">
                <input type="hidden" name="_subject" value="New submission!">
                <!-- MIGHT HAVE TO DELETE THIS LINE -->
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://bespokediets.com/thank_you">

                <div class="column is-6">
                  <input class="input is-medium" type="text" name="name" placeholder="Enter your name" required>
                </div>

                <div class="column is-6">
                  <input class="input is-medium" type="email" name="email" placeholder="Enter your email address" required>
                </div>

                <div class="column is-12">
                  <textarea class="textarea" type="text" name="message" rows="10" placeholder="Write someting..."></textarea>
                </div>

                <div class="form-footer has-text-centered mt-10">
                  <button type="submit" class="button cta is-large primary-btn raised is-clear contact-btn">Send Message</button>
                </div>
              </div>
            
            </form>
            <form>
          </div>
        </div>
      </div>
    </div>
  </section>