{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
<section class="section section-feature-grey is-medium" id="section1">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3>{{ .title }}</h3>
            </div>
            <div class="card-title">
              <h4>{{ .subtitle }}</h4>
            </div>
            <div class="card-title">
              <h2>{{ .type_of_limit }}</h2>
            </div>
            <div class="price-row">
              <div class="requests-column">
                <h2>Requests</h2>
                <p>&#8226; Generate new diet</p>
                <p>&#8226; Create User</p>
                <p>&#8226; Diet Costumization</p>
                <p>&#8226; Other requests</p>
              </div>
              <div class="limit-column">
                <h2>Limits</h2>
                <p>{{ .limit1 }}</p>
                <p>{{ .limit2 }}</p>
                <p>{{ .limit3 }}</p>
                <p>{{ .limit4 }}</p>
              </div>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>