{{- $section2 := .Site.Params.section2 }}
{{- $title := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium" id="features">
    <div class="container">
        <div class="column">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ $title }}</h1>
                <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
                <div class="divider"></div>
            </div>
            <div class="is-7 mt-60 wrap">
                {{- range $features }}
                <article class="row mb-60">
                    <img class="logo-img" src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                    <div class="media-content" style="text-align: center;">
                        <div class="content">
                            <p>
                                <span class="icon-box-title">{{ .title }}</span>
                                <div></div>
                                <span class="icon-box-text">{{ .text | markdownify }}</span>
                            </p>
                        </div>
                    </div>
                </article>
                {{- end }}
            </div>
        </div>
    </div>
</section>